@font-face {
    font-family: Lato-Medium;
    src: url("../fonts/lato/Lato-Medium.ttf");

}

@font-face {
    font-family: Lato-Bold;
    src: url("../fonts/lato/Lato-Bold.ttf");
}

@font-face {
    font-family: Lato-Heavy;
    src: url("../fonts/lato/Lato-Heavy.ttf");
}

@font-face {
    font-family: Lato-Semibold;
    src: url("../fonts/lato/Lato-Semibold.ttf");
}

@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/lato/Lato-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
}

header {
    background-image: url("../img/Header BG@1X.jpeg");
    width: 100%;
    height: 1085px;
}

.header-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 961px;

    background-color: #000;
    opacity: 0.85;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 90px;

    border-bottom: 1px solid #2e2f31;
}

.nav-image {

}

.nav-link {
    margin: 0 35px;
    padding: 32px 0;

    font-family: Lato-Medium;
    font-size: 16px;
    color: #fff;
}

.nav-link:hover {
    transition: .5s;
    border-bottom: 1px solid #fff;
}

.nav-link:not(:hover) {
    transition: .5s;
    border-bottom: 1px solid #2e2f31;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link:last-child {
    margin-right: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: #fff;
}

.hello {
    font-size: 72px;
    font-family: MyriadPro-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
}

.tagline {
    font-size: 32px;
    text-align: center;
    font-style: italic;
    font-family: Georgia-Italic, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 124px;

    text-decoration: none;
    font-family: Lato-Bold;
    font-size: 22px;

}

.registration-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #21424a;
    color: #fff;

}

.registration-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    background-color: #2fac6c;
    color: #fff;
}

.registration-login:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 124px;
    right: 50%;

    background-color: #21424A;
    transform: skewX(-15deg);
}

.registration-register:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 124px;
    left: 50%;

    background-color: #2fac6c;
    transform: skewX(-15deg);
}

.registration-login:not(:hover) > span {
    transition: .5s;
    border-bottom: 1px solid #21424A;
}

.registration-login:hover > span {
    transition: .5s;
    border-bottom: 1px solid #fff;
}

.registration-register:not(:hover) > span {
    transition: .5s;
    border-bottom: 1px solid #2FAC6C;
}

.registration-register:hover > span {
    transition: .5s;
    border-bottom: 1px solid #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 578px;

}

.domain h2 {
    font-family: Lato-Heavy;
    font-size: 24px;
    margin: 0;
}

.domain p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin:25px 0;
}

.domain-choise {
    align-items: center;
    width: 890px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 40px;

    border: 1px solid rgba(203, 203, 203, 255);
}

.domain-choise .table {
    margin: 10px 15px;
}

.domain-choise .row {
    display: flex;
    align-items: center;
}

.domain-choise .cell {
    padding: 5px 15px;
    border-left: 1px solid #C9C9C9;
    font-family: Lato-Semibold;
    font-size: 16px;
    color: rgba(203, 203, 203, 255);
}

.domain-choise .cell:first-child {
    border-left: none;
    padding-left: 0;
}

.domain-choise #question {
    font-family: Lato-Semibold;
    font-size: 15px;
    color: rgba(134, 134, 134, 255);
    width: 700px;
}

.domain-price {
    width: 890px;
    height: auto;
    border: 1px solid rgba(203, 203, 203, 255);;
}

.domain-price .table {
    margin: 15px 20px;
}

.domain-price .row {
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.domain-price .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 0 6px;

    font-family: Lato-Regular;
    font-size: 14px;
    color: rgba(203, 203, 203, 255);

    border-bottom: 1px solid rgba(203, 203, 203, 255);
}

.line {
    display: block;
    position: relative;
    top: 5px;
    height: 75px;
    border-left: 1px solid rgba(203, 203, 203, 255);
}

.domain-price .row:last-child .cell {
    border-bottom: none;
}

.packages {
    width: 100%;
    height: 766px;
}

.packages-background-img {
    width: 100%;
    height: 450px;

    background-position: 50% 38%;
    background-size: 100%;
}

.packages-background-blank {
    width: 100%;
    height: 450px;
}